.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-height: 80px;
  padding: 5px;
  padding-bottom: 0;
}

.timeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 0.6rem;
  padding-bottom: 1.5rem;
  margin-right: 4rem;
}

.timeContainer::before {
  display: block;
  position: absolute;
  right: -30px;
  top: 8px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  opacity: 1;
  z-index: 5;
}

.timeContainer::after {
  display: block;
  position: absolute;
  right: -25.3px;
  top: 15px;
  content: "";
  width: 0.1px;
  height: 100%;
  background: #ccc;
  z-index: 2;
}

.time {
  font-size: 2.5rem;
  font-weight: normal;
  color: #333;
}

.matchHalf {
  font-size: 0.8rem;
  font-weight: lighter;
  white-space: nowrap;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.messageTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
}

.message {
  font-size: 1rem;
  margin-top: 0.2rem;
  font-weight: normal;
  color: #333;
  min-width: 180px;
  line-height: 18px;
}
